# build-folder
**/bin
**/debug
**/release

# vs-files
Browse.VC.opendb

# asset-folder
#**/assets/#internal
#**/assets/fonts
#**/assets/gravity
**/assets/models
#**/assets/shaders
**/assets/textures

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
.zip
