# build-folder
**/build
**/bin
**/debug
**/release

# builds in builds folder
**/builds

# vs-files
Browse.VC.opendb

# asset-folder
#**/assets/#internal
#**/assets/fonts
#**/assets/gravity
#**/assets/models
#**/assets/shaders
#**/assets/textures

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
*.zip
